@import 'vars';

@mixin font($fw, $fs, $lh) {
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
}

@mixin title-block ($section-name) {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .#{$section-name}__title-item {
        font-family: "Raleway";
        font-weight: 600;
        font-size: 32px;
        line-height: 38px;
        position: relative;
    }

    .#{$section-name}__title-accent {
        width: 74px;
        height: 4px;
        border-radius: 0px 5px;
        background: $accent;
        margin-top: 10px;
    }
}
