@import 'vars';

@mixin font($fw, $fs, $lh) {
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
}

@mixin title-block ($section-name, $fw, $fs, $lh, $tlw, $tlm) {
    display: flex;
    flex-direction: column;

    .#{$section-name}__title-item {
        font-family: "IBM Plex Sans";
        font-weight: $fw;
        color: $text-title;
        font-size: $fs;
        line-height: $lh;
    }

    .#{$section-name}__title-line {
        width: $tlw;
        height: 4px;
        border-radius: 0px 5px;
        background: $accent;
        margin-top: $tlm;
    }
}
