@import "reset", "vars", "global", "mixins";

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');


//TODO: добавить логотип во вкладке

.header {
    .container-header {
        margin: 0 auto;
        // padding: 0 10px;
    }

    &__top {
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #1C344E;
    }

    &__info {
        @include font(400, 14px, 18px);
        padding: 12px 24px;
        color: #FFF;
        display: flex;
        gap: 16px;
    }

    &__location {
        padding-right: 192px;
    }

    &__location-info {
        display: flex;
        gap: 8px;
    }

    &__phone-info {
        display: flex;
        gap: 8px;
    }

    &__email-info{
        display: flex;
        gap: 8px;
    }

    &__schedule-info {
        display: flex;
        gap: 8px;
    }

    &__content-top {
        height: 97px;
    }

    &__navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 24px;
        padding-bottom: 24px;
    }

    &__navbar-menu {
        padding-left: 128px;
        padding-right: 140px;
    }

    &__navbar-list {
        @include font(400, 16px, 21px);
        display: flex;
        gap: 36px;
    }

    &__navbar-button {
        @include font(500, 16px, 21px);
        width: 130px;
        height: 45px;
        border: 1px solid #4B93FF;
        padding: 12px 18px;
        box-sizing: border-box;
        border-radius: 12px;
        cursor: pointer;
        background-color: transparent;
        color: #4B93FF;
    }

    &__main-content-bg {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        // height: 670px;
        background-image: url(../images/photos/header-bg.jpg);
    }

    &__main-content-overlay {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgba(32, 35, 40, 0.7);
        height: 670px;
    }

    &__main-content-title {
        @include font(700, 56px, 73px);
        color: #FFFFFF;
        padding-top: 64px;
        padding-bottom: 12px;
        width: 867px;
        text-align: center;
    }

    &__main-content-subtitle {
        @include font(400, 20px, 26px);
        color: #FFFFFF;
        padding-top: 12px;
        padding-bottom: 58px;
        width: 363px;
        text-align: center;
    }

    &__main-content-button {
        @include font(400, 18px, 23px);
        width: 178px;
        height: 47px;
        padding: 12px 20px;
        box-sizing: border-box;
        border-radius: 12px;
        cursor: pointer;
        background-color: #4B93FF;
        border: 1px solid #4B93FF;
        color: #FFFFFF;
    }


    &__card-list {
        display: flex;
        gap: 24px;
        position: relative;
        // margin-top: 132px;
        justify-content: center;
    }

    &__card-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 360px;
        height: 325px;
        box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.07);
        background-color: #FFFFFF;
        border-radius: 10px;
    }

    &__card-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 48px;
        margin-bottom: 24px;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        background: #FFFFFF;
        box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.07);
    }

    &__card-icon-img {
        width: 40px;
        height: 40px;
    }

    &__card-title {
        @include font(500, 24px, 31px);
        color: #333333;
        padding-bottom: 8px;
    }

    &__card-subtitle {
        @include font(400, 18px, 26px);
        color: #666666;
        text-align: center;
        padding: 8px 42px 48px;
    }
}

.main {
    .container-about {
        display: flex;
        justify-content: center;
        margin: 94px 0;
        // width: 1128px;
    }

    .about {
        //TODO: fit the image
        &__photo-img {
            width: 552px;
            height: 568px;
            object-fit: cover;
            border-radius: 10px;
        }

        &__info {
            display: flex;
            flex-direction: column;
            margin-left: 120px;
        }

        &__info-title {
            color: #333333;
            font-weight: 600;
            font-size: 34px;
            line-height: 44px;
        }

        &__info-title-line {
            width: 74px;
            height: 4px;
            background: #4B93FF;
            border-radius: 0px 5px;
            margin-top: 10px;
            margin-bottom: 36px;
        }

        &__info-subtitle {
            @include font(400, 18px, 26px);
            color: #666666;
            align-items: center;
            width: 456px;
            height: 104px;
            margin-bottom: 24px;
        }

        &__info-advantages-list {
            @include font(400, 18px, 26px);
            color: #666666;
            display: flex;
            flex-direction: column;
            gap: 16px;
            margin-bottom: 74px;

            // &::before {
            //     content: ;
            // }
        }

        &__info-call-us {
            display: flex;
        }

        &__info-call-us-content {
            margin-left: 24px;
        }

        &__info-call-us-title {
            @include font(500, 18px, 23px);
            color: #333333;
            margin-bottom: 4px;
        }

        &__info-call-us-phone {
            @include font(600, 24px, 31px);
            color: #4B93FF;
        }
    }
}
