@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  font-family: 'IBM Plex Sans', sans-serif;
}

html,
body {
  height: 100%;
  min-width: 320px;
  overflow-x: hidden;
}

.header .container-header {
  margin: 0 auto;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1C344E;
}

.header__info {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 0 12px 0;
  margin: 0 auto;
  width: 1128px;
}

.header__location {
  padding-right: 192px;
}

.header__location-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.header__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.header__schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.header__content-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background: #fff;
  z-index: 10;
  -webkit-box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.07);
}

.header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1128px;
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header__hamburger {
  display: none;
}

.header__navbar-adaptive {
  display: none;
}

.header__navbar-list {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 36px;
}

.header__navbar-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 134px;
  height: 46px;
  border: 1px solid #4B93FF;
  padding: 12px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 24px;
  cursor: pointer;
  background-color: transparent;
  color: #4B93FF;
}

.header__navbar-button:hover {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #4B93FF;
  color: #FFFFFF;
}

.header__main-content-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/photos/header-bg.jpg);
}

.header__main-content-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(32, 35, 40, 0.7);
  height: 670px;
}

.header__main-content-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 73px;
  color: #FFFFFF;
  padding-top: 64px;
  padding-bottom: 12px;
  width: 868px;
  text-align: center;
}

.header__main-content-subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  padding-top: 12px;
  padding-bottom: 58px;
  width: 364px;
  text-align: center;
}

.header__main-content-button {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 196px;
  height: 48px;
  padding: 12px 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 24px;
  cursor: pointer;
  background-color: #FF8400;
  border: 1px solid #FF8400;
  color: #FFFFFF;
}

.header__main-content-button:hover {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  color: #FF8400;
}

.header__card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -170px;
  gap: 24px;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__card-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 360px;
  height: 325px;
  -webkit-box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.07);
  background-color: #FFFFFF;
  border-radius: 10px;
}

.header__card-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  margin-bottom: 26px;
  border-radius: 50%;
  width: 96px;
  height: 96px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.07);
}

.header__card-icon-img {
  width: 40px;
  height: 40px;
}

.header__card-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  color: #333333;
  text-align: center;
  padding-bottom: 16px;
}

.header__card-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #666666;
  text-align: center;
  padding: 0px 42px 48px;
}

.main .container-about {
  margin: 116px auto;
}

.main .about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1128px;
  margin: 0 auto;
}

.main .about__photo-img {
  width: 552px;
  height: 568px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.main .about__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .about__title-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .about__title-content .about__title-item {
  font-family: "IBM Plex Sans";
  font-weight: 600;
  color: #333333;
  font-size: 34px;
  line-height: 44px;
}

.main .about__title-content .about__title-line {
  width: 74px;
  height: 4px;
  border-radius: 0px 5px;
  background: #4B93FF;
  margin-top: 10px;
}

.main .about__info-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #666666;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 456px;
  height: 104px;
  margin-top: 36px;
  margin-bottom: 24px;
}

.main .about__info-advantages-list {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #666666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  margin-bottom: 74px;
}

.main .about__info-advantages-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.main .about__info-call-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .about__info-call-us-content {
  margin-left: 24px;
}

.main .about__info-call-us-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  margin-bottom: 4px;
}

.main .about__info-call-us-phone {
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  color: #4B93FF;
}

.main .container-advantages {
  background-color: #F8F9FA;
}

.main .advantages__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1128px;
  margin: 0 auto;
}

.main .advantages__title-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 28px 0 52px;
}

.main .advantages__title-content .advantages__title-item {
  font-family: "IBM Plex Sans";
  font-weight: 600;
  color: #333333;
  font-size: 34px;
  line-height: 44px;
}

.main .advantages__title-content .advantages__title-line {
  width: 74px;
  height: 4px;
  border-radius: 0px 5px;
  background: #4B93FF;
  margin-top: 10px;
}

.main .advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 16px;
}

.main .advantages__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 48px;
}

.main .advantages__list-item-border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 16px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.07);
}

.main .advantages__list-item-icon {
  width: 42px;
  height: 42px;
}

.main .advantages__list-item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 416px;
}

.main .advantages__list-item-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  padding-bottom: 8px;
}

.main .advantages__list-item-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #666666;
}

.main .container-services {
  margin: 116px auto;
}

.main .services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1128px;
  margin: 0 auto;
}

.main .services__title-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1128px;
  padding-bottom: 52px;
}

.main .services__title-content .services__title-item {
  font-family: "IBM Plex Sans";
  font-weight: 600;
  color: #333333;
  font-size: 34px;
  line-height: 44px;
}

.main .services__title-content .services__title-line {
  width: 74px;
  height: 4px;
  border-radius: 0px 5px;
  background: #4B93FF;
  margin-top: 10px;
}

.main .services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
}

.main .services__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 360px;
  border: 2px solid #F2F2F3;
  border-radius: 12px;
  -webkit-box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.07);
}

.main .services__list-item-img {
  height: 288px;
  border-radius: 12px 12px 0 0;
}

.main .services__list-item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .services__list-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  margin: 24px 26px 16px 32px;
  color: #333333;
  height: 46px;
}

.main .services__list-item-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  margin: 0px 26px 20px 32px;
  color: #666666;
  height: 54px;
}

.main .services__list-item-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 26px 32px 32px;
}

.main .services__list-item-price {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  margin-right: auto;
}

.main .services__list-item-button {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 134px;
  height: 47px;
  border: 2px solid #4B93FF;
  padding: 12px 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 24px;
  cursor: pointer;
  background-color: transparent;
  color: #4B93FF;
}

.main .services__list-item-button:hover {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #4B93FF;
  color: #FFFFFF;
}

.main .container-equipment {
  background-color: #F8F9FA;
}

.main .equipment__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  width: 1128px;
}

.main .equipment__title-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1128px;
  padding: 28px 0 52px;
}

.main .equipment__title-content .equipment__title-item {
  font-family: "IBM Plex Sans";
  font-weight: 600;
  color: #333333;
  font-size: 34px;
  line-height: 44px;
}

.main .equipment__title-content .equipment__title-line {
  width: 74px;
  height: 4px;
  border-radius: 0px 5px;
  background: #4B93FF;
  margin-top: 10px;
}

.main .equipment__list {
  margin-bottom: 44px;
}

.main .equipment__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 18px 30px 34px 30px;
  width: 1128px;
  height: 62px;
  overflow: hidden;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.07);
  border-radius: 12px;
  margin-bottom: 16px;
  -webkit-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
}

.main .equipment__list-item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 34px;
}

.main .equipment__list-item-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #333333;
}

.main .equipment__list-item-button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  color: #4B93FF;
  -webkit-transition: -webkit-transform ease-in-out 0.5s;
  transition: -webkit-transform ease-in-out 0.5s;
  transition: transform ease-in-out 0.5s;
  transition: transform ease-in-out 0.5s, -webkit-transform ease-in-out 0.5s;
}

.main .equipment__list-item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .equipment__list-item-content-img {
  width: 360px;
  height: 266px;
  border-radius: 12px;
}

.main .equipment__list-item-properties {
  width: 670px;
}

.main .equipment__list-item-properties-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 16px;
  color: #333333;
}

.main .equipment__list-item-properties-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #666666;
}

.main .equipment__list-item-button_toggle {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.main .equipment__list-item_open {
  height: 378px;
}

.main .container-workflow {
  margin: 94px auto;
}

.main .workflow__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  width: 1128px;
}

.main .workflow__title-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1128px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 52px;
}

.main .workflow__title-content .workflow__title-item {
  font-family: "IBM Plex Sans";
  font-weight: 600;
  color: #333333;
  font-size: 34px;
  line-height: 44px;
}

.main .workflow__title-content .workflow__title-line {
  width: 74px;
  height: 4px;
  border-radius: 0px 5px;
  background: #4B93FF;
  margin-top: 10px;
}

.main .workflow__steps-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .workflow__steps-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 256px;
}

.main .workflow__steps-item-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  border: 2px solid #007BFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 20px;
}

.main .workflow__steps-item-logo-stage {
  font-weight: 400;
  font-size: 26px;
  line-height: 34px;
  color: #007BFF;
}

.main .workflow__steps-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #333333;
  margin-bottom: 6px;
  text-align: center;
}

.main .workflow__steps-item-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #666666;
  text-align: center;
  height: 42px;
}

.main .workflow__steps-divider {
  margin-bottom: 100px;
}

.main .container-order {
  background-color: #F8F9FA;
}

.main .order__content {
  margin: 0 auto;
  width: 1128px;
}

.main .order__title-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 28px 0px 52px 0px;
}

.main .order__title-content .order__title-item {
  font-family: "IBM Plex Sans";
  font-weight: 600;
  color: #333333;
  font-size: 34px;
  line-height: 44px;
}

.main .order__title-content .order__title-line {
  width: 74px;
  height: 4px;
  border-radius: 0px 5px;
  background: #4B93FF;
  margin-top: 10px;
}

.main .order__info-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 32px;
}

.main .order__info-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 168px;
  padding-bottom: 116px;
}

.main .order__info-list-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.main .order__info-list-item-content {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  padding-top: 10px;
  width: 384px;
}

.main .order .email-font {
  font-weight: 400;
  font-size: 19px;
  line-height: 25px;
}

.main .order__info-list-item-text-map {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #888692;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  padding-top: 6px;
}

.main .order__info-list-item-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #888692;
  padding-top: 6px;
}

.main .order__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .order__form-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #333333;
  padding-top: 42px;
  padding-bottom: 36px;
}

.main .order__form-input {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 16px;
}

.main .order__form-input ::-webkit-input-placeholder {
  border: 0;
  color: #999999;
}

.main .order__form-input :-ms-input-placeholder {
  border: 0;
  color: #999999;
}

.main .order__form-input ::-ms-input-placeholder {
  border: 0;
  color: #999999;
}

.main .order__form-input ::placeholder {
  border: 0;
  color: #999999;
}

.main .order__form-input :focus {
  border: 1px solid #646464;
  -webkit-box-shadow: 0 0 0 1px #646464;
          box-shadow: 0 0 0 1px #646464;
}

.main .order input {
  width: 432px;
  height: 49px;
  border: 1px solid #999999;
  border-radius: 5px;
  padding-left: 16px;
}

.main .order textarea {
  width: 432px;
  height: 122px;
  border: 1px solid #999999;
  border-radius: 5px;
  resize: none;
  padding: 16px;
}

.main .order__form-button {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 196px;
  height: 52px;
  padding: 12px 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 24px;
  cursor: pointer;
  background-color: #FF8400;
  border: 1px solid #FF8400;
  color: #FFFFFF;
  margin-top: 32px;
}

.main .order__form-button:hover {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #df7400;
  border: 1px solid #df7400;
  color: #FFFFFF;
}

.main .container-form {
  margin-top: -36px;
  width: 540px;
  height: 505px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.07);
  border-radius: 12px;
}

.footer .container-footer {
  background-color: #0D1824;
}

.footer__content {
  margin: 0px auto;
  width: 1128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__description-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 440px;
}

.footer__description-area-logo {
  padding-top: 56px;
}

.footer__description-area-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #999999;
  padding: 14px 0px 22px 0px;
}

.footer__description-area-address-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #999999;
}

.footer__description-area-address-content {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  padding-bottom: 64px;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 268px;
}

.footer__contacts-title-item {
  font-weight: 600;
  font-size: 22px;
  line-height: 29px;
  color: #FFFFFF;
  padding-top: 56px;
}

.footer__contacts-title-line {
  width: 40px;
  height: 2px;
  border-radius: 0px 5px;
  background: #4B93FF;
  margin: 6px 0px 24px 0px;
}

.footer__phone-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #999999;
}

.footer__phone-content {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  display: block;
  color: #FFFFFF;
  padding-bottom: 26px;
}

.footer__email-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #999999;
}

.footer__email-content {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 128px;
}

.footer__menu-title-item {
  font-weight: 600;
  font-size: 22px;
  line-height: 29px;
  color: #FFFFFF;
  padding-top: 56px;
}

.footer__menu-title-line {
  width: 40px;
  height: 2px;
  border-radius: 0px 5px;
  background: #4B93FF;
  margin: 6px 0px 24px 0px;
}

.footer__menu-item {
  padding-bottom: 16px;
}

.footer__menu-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #999999;
}

.send-bid__button {
  position: fixed;
  bottom: 40px;
  right: 40px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background-color: #4B93FF;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.07);
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

.send-bid__button:hover {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #227aff;
  color: #FFFFFF;
}

@media screen and (max-width: 1660px) {
  .send-bid__button {
    bottom: 60px;
    right: 8px;
  }
}

@media screen and (max-width: 1180px) {
  .header__info {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    width: 840px;
  }
  .header__location {
    padding-right: 60px;
  }
  .header__navbar {
    width: 840px;
  }
  .header__navbar-list {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    gap: 14px;
  }
  .header__main-content-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    width: 802px;
  }
  .header__main-content-subtitle {
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    width: 310px;
  }
  .header__main-content-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    width: 170px;
    height: 46px;
    padding: 12px 22px;
  }
  .header__card-item {
    width: 264px;
    height: 310px;
  }
  .header__card-icon {
    width: 80px;
    height: 80px;
    margin-top: 28px;
    margin-bottom: 24px;
  }
  .header__card-title {
    font-weight: 500;
    font-size: 22px;
    line-height: 29px;
    width: 168px;
    height: 74px;
  }
  .header__card-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    padding: 0px 14px 38px;
  }
  .main .about__content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 840px;
  }
  .main .about__photo-img {
    width: 384px;
    height: 568px;
  }
  .main .about__info-subtitle {
    width: 330px;
    height: 130px;
  }
  .main .advantages__content {
    width: 840px;
  }
  .main .advantages__list-item-content {
    width: 264px;
  }
  .main .services__content {
    width: 840px;
  }
  .main .services__title-content {
    width: 840px;
  }
  .main .services__list-item {
    width: 264px;
  }
  .main .services__list-item-img {
    height: 240px;
  }
  .main .services__list-item-title {
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    margin: 24px 16px 12px 22px;
    height: 40px;
  }
  .main .services__list-item-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin: 0px 16px 24px 22px;
  }
  .main .services__list-item-order {
    margin: 0px 16px 28px 22px;
  }
  .main .services__list-item-price {
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
  }
  .main .services__list-item-button {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    width: 102px;
    height: 40px;
    padding: 12px 18px;
  }
  .main .equipment__content {
    width: 840px;
  }
  .main .equipment__title-content {
    width: 840px;
  }
  .main .equipment__list {
    margin-bottom: 26px;
  }
  .main .equipment__list-item {
    width: 840px;
    padding: 18px 30px 32px 30px;
  }
  .main .equipment__list-item-content-img {
    width: 360px;
    height: 272px;
  }
  .main .equipment__list-item-properties {
    width: 390px;
  }
  .main .equipment__list-item-properties-title {
    margin-bottom: 14px;
  }
  .main .equipment__list-item_open {
    height: 382px;
  }
  .main .workflow__content {
    width: 840px;
  }
  .main .workflow__title-content {
    width: 840px;
  }
  .main .workflow__steps-item {
    width: 200px;
  }
  .main .workflow__steps-item-logo {
    width: 50px;
    height: 50px;
  }
  .main .workflow__steps-item-description {
    height: 63px;
  }
  .main .workflow__steps-divider {
    margin-bottom: 120px;
  }
  .footer__content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 840px;
  }
  .footer__description-area {
    width: 360px;
  }
  .send-bid__button {
    bottom: 60px;
    right: 12px;
  }
}

@media screen and (max-width: 880px) {
  .header__top {
    display: none;
  }
  .header__navbar {
    width: 648px;
  }
  .header__hamburger {
    display: block;
  }
  .header__hamburger-icon {
    display: block;
    z-index: 5;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .header__hamburger-icon span, .header__hamburger-icon::before, .header__hamburger-icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #000;
  }
  .header__hamburger-icon::before, .header__hamburger-icon::after {
    content: "";
  }
  .header__hamburger-icon::before {
    top: 0;
  }
  .header__hamburger-icon::after {
    bottom: 0;
  }
  .header__hamburger-icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .header__hamburger-icon_active span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .header__hamburger-icon_active::before {
    background: #FFF;
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .header__hamburger-icon_active::after {
    background: #FFF;
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }
  .header__hamburger-nav-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 100px 60px 60px 60px;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .header__hamburger-nav-menu_active {
    left: 0;
  }
  .header__hamburger-nav-menu-list {
    font-size: 24px;
    color: #FFF;
  }
  .header__hamburger-nav-menu-item {
    margin: 0px 0px 30px 0px;
  }
  .header__navbar-logo-img {
    padding-left: 30px;
    padding-right: 134px;
  }
  .header__navbar-list {
    display: none;
  }
  .header__navbar-adaptive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__navbar-adaptive-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 6px;
  }
  .header__navbar-call-us-phone {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }
  .header__navber-call-us-title {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #4B93FF;
  }
  .header__navbar-button {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    width: 116px;
    height: 38px;
    padding: 10px 16px;
    margin-left: 24px;
  }
  .header__main-content-overlay {
    height: 580px;
  }
  .header__main-content-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    width: 618px;
  }
  .header__main-content-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    width: 292px;
  }
  .header__main-content-button {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    width: 146px;
    height: 38px;
    padding: 10px 16px;
  }
  .header__card-item {
    width: 198px;
    height: 264px;
  }
  .header__card-icon {
    width: 60px;
    height: 60px;
    margin-top: 26px;
    margin-bottom: 20px;
  }
  .header__card-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    width: 126px;
    height: 46px;
  }
  .header__card-subtitle {
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    padding: 16px 11px 28px;
    width: 176px;
  }
  .header__card-list {
    margin-top: -150px;
  }
  .main .about__content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 648px;
  }
  .main .about__photo-img {
    width: 328px;
    height: 422px;
  }
  .main .about__title-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .about__title-content .about__title-item {
    font-family: "IBM Plex Sans";
    font-weight: 600;
    color: #333333;
    font-size: 30px;
    line-height: 39px;
  }
  .main .about__title-content .about__title-line {
    width: 60px;
    height: 4px;
    border-radius: 0px 5px;
    background: #4B93FF;
    margin-top: 8px;
  }
  .main .about__title-line {
    width: 60px;
  }
  .main .about__info-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    width: 264px;
    height: 110px;
    margin-top: 28px;
    margin-bottom: 24px;
  }
  .main .about__info-advantages-list {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    gap: 6px;
    margin-bottom: 42px;
  }
  .main .about__info-call-us-icon-img {
    width: 46px;
    height: 46px;
  }
  .main .about__info-call-us-title {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 4px;
  }
  .main .about__info-call-us-phone {
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
  }
  .main .advantages__content {
    width: 648px;
  }
  .main .advantages__title-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 28px 0 36px;
  }
  .main .advantages__title-content .advantages__title-item {
    font-family: "IBM Plex Sans";
    font-weight: 600;
    color: #333333;
    font-size: 30px;
    line-height: 39px;
  }
  .main .advantages__title-content .advantages__title-line {
    width: 60px;
    height: 4px;
    border-radius: 0px 5px;
    background: #4B93FF;
    margin-top: 8px;
  }
  .main .advantages__list-item {
    margin-bottom: 38px;
  }
  .main .advantages__list-item-border {
    width: 70px;
    height: 70px;
  }
  .main .advantages__list-item-icon {
    width: 36px;
    height: 36px;
  }
  .main .advantages__list-item-content {
    width: 220px;
  }
  .main .advantages__list-item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
  }
  .main .advantages__list-item-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }
  .main .services__content {
    width: 648px;
  }
  .main .services__title-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 28px 0 36px;
    width: 648px;
  }
  .main .services__title-content .services__title-item {
    font-family: "IBM Plex Sans";
    font-weight: 600;
    color: #333333;
    font-size: 30px;
    line-height: 39px;
  }
  .main .services__title-content .services__title-line {
    width: 60px;
    height: 4px;
    border-radius: 0px 5px;
    background: #4B93FF;
    margin-top: 8px;
  }
  .main .services__list {
    gap: 36px;
  }
  .main .services__list-item {
    width: 306px;
  }
  .main .services__list-item-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    margin: 24px 22px 12px 26px;
  }
  .main .services__list-item-subtitle {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    margin: 0 22px 16px 26px;
  }
  .main .services__list-item-order {
    margin: 0px 22px 28px 26px;
  }
  .main .services__list-item-price {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
  }
  .main .services__list-item-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    width: 106px;
    height: 40px;
    padding: 12px 18px;
  }
  .main .equipment__content {
    width: 648px;
  }
  .main .equipment__title-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 28px 0 36px;
    width: 648px;
  }
  .main .equipment__title-content .equipment__title-item {
    font-family: "IBM Plex Sans";
    font-weight: 600;
    color: #333333;
    font-size: 30px;
    line-height: 39px;
  }
  .main .equipment__title-content .equipment__title-line {
    width: 60px;
    height: 4px;
    border-radius: 0px 5px;
    background: #4B93FF;
    margin-top: 8px;
  }
  .main .equipment__list {
    margin-bottom: 14px;
  }
  .main .equipment__list-item {
    width: 648px;
    height: 56px;
    padding: 18px 20px 28px 20px;
  }
  .main .equipment__list-item-title {
    margin-bottom: 30px;
  }
  .main .equipment__list-item-content-img {
    width: 292px;
    height: 210px;
  }
  .main .equipment__list-item-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
  .main .equipment__list-item-img {
    width: 20px;
    height: 10px;
  }
  .main .equipment__list-item-properties {
    width: 292px;
  }
  .main .equipment__list-item-properties-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    height: 26px;
    margin-bottom: 8px;
  }
  .main .equipment__list-item-properties-content {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }
  .main .equipment__list-item_open {
    height: 306px;
  }
  .main .workflow__content {
    width: 648px;
  }
  .main .workflow__title-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 0 36px 0;
    width: 648px;
  }
  .main .workflow__title-content .workflow__title-item {
    font-family: "IBM Plex Sans";
    font-weight: 600;
    color: #333333;
    font-size: 30px;
    line-height: 39px;
  }
  .main .workflow__title-content .workflow__title-line {
    width: 60px;
    height: 4px;
    border-radius: 0px 5px;
    background: #4B93FF;
    margin-top: 8px;
  }
  .main .workflow__steps-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .main .workflow__steps-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 576px;
  }
  .main .workflow__steps-item-logo {
    margin: 0 46px 0 0;
  }
  .main .workflow__steps-item-title {
    text-align: left;
  }
  .main .workflow__steps-item-description {
    text-align: left;
    height: auto;
  }
  .main .workflow__steps-divider {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    margin: 18px 0 18px 12px;
  }
  .footer__content {
    width: 648px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__description-area {
    width: 648px;
  }
  .footer__description-area-text {
    padding: 14px 0 18px 0;
  }
  .footer__description-area-address-content {
    padding-bottom: 42px;
  }
  .footer__contacts-title-item {
    padding: 0;
  }
  .footer__contacts-title-line {
    margin: 6px 0 16px 0;
  }
  .footer__phone-content {
    padding-bottom: 16px;
  }
  .footer__menu {
    padding-bottom: 48px;
  }
  .footer__menu-title-item {
    padding: 0;
  }
  .footer__menu-title-line {
    margin: 6px 0 16px 0;
  }
  .footer__menu-item {
    padding-bottom: 14px;
  }
  .send-bid__button {
    width: 50px;
    height: 50px;
  }
  .send-bid__button-img {
    width: 28px;
    height: 28px;
  }
}

@media screen and (max-width: 720px) {
  .header__navbar {
    width: 360px;
    padding-bottom: 18px;
  }
  .header__hamburger-nav-menu-list {
    font-size: 24px;
    color: #FFF;
  }
  .header__navbar-logo-img {
    height: 36px;
    padding-left: 24px;
    padding-right: 54px;
  }
  .header__navbar-adaptive-content-logo {
    width: 14px;
    height: 14px;
  }
  .header__navbar-call-us-phone {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }
  .header__navber-call-us-title {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #4B93FF;
  }
  .header__navbar-button {
    display: none;
  }
  .header__main-content-overlay {
    height: 520px;
  }
  .header__main-content-title {
    font-weight: 700;
    font-size: 34px;
    line-height: 44px;
    width: 334px;
    padding-top: 42px;
  }
  .header__main-content-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    width: 306px;
    padding-bottom: 48px;
  }
  .header__card-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__card-item {
    width: 360px;
    height: 222px;
  }
  .header__card-icon {
    width: 60px;
    height: 60px;
    margin-top: 16px;
    margin-bottom: 20px;
  }
  .header__card-icon-img {
    width: 34px;
    height: 34px;
  }
  .header__card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    width: 260px;
    padding-bottom: 14px;
  }
  .header__card-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    padding: 0px 0px 26px 0px;
    width: 312px;
  }
  .header__card-list {
    margin-top: -110px;
  }
  .main .about__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 360px;
  }
  .main .about__info {
    width: 360px;
  }
  .main .about__info-advantages-list {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }
  .main .about__photo-img {
    display: none;
  }
  .main .about__info-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    width: 360px;
    height: 88px;
    margin-top: 26px;
    margin-bottom: 22px;
  }
  .main .about__info-advantages-list {
    margin-bottom: 34px;
  }
  .main .advantages__content {
    width: 360px;
  }
  .main .advantages__list-item-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
  .main .advantages__list-item-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }
  .main .advantages__list-item {
    margin-bottom: 36px;
  }
  .main .advantages__list-item-content {
    width: 264px;
  }
  .main .services__content {
    width: 360px;
  }
  .main .services__title-content {
    width: 360px;
  }
  .main .services__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 24px;
  }
  .main .services__list-item {
    width: 360px;
  }
  .main .services__list-item-img {
    display: none;
  }
  .main .services__list-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    margin: 24px 22px 16px 28px;
    height: 26px;
  }
  .main .services__list-item-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin: 0 28px 18px 28px;
  }
  .main .services__list-item-order {
    margin: 0px 28px 24px 28px;
  }
  .main .services__list-item-price {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
  }
  .main .services__list-item-button {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    width: 126px;
    height: 44px;
    padding: 12px 28px;
  }
  .main .equipment__content {
    width: 360px;
  }
  .main .equipment__title-content {
    width: 360px;
  }
  .main .equipment__list {
    margin-bottom: 14px;
  }
  .main .equipment__list-item {
    width: 360px;
    height: 84px;
    padding: 16px 20px 16px 20px;
  }
  .main .equipment__list-item-title {
    margin-bottom: 24px;
  }
  .main .equipment__list-item-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .equipment__list-item-content-img {
    width: 296px;
    height: 210px;
  }
  .main .equipment__list-item-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    width: 296px;
  }
  .main .equipment__list-item-properties {
    width: 292px;
  }
  .main .equipment__list-item-properties-title {
    margin-top: 18px;
  }
  .main .equipment__list-item_open {
    height: 524px;
  }
  .main .workflow__content {
    width: 360px;
  }
  .main .workflow__title-content {
    width: 360px;
  }
  .main .workflow__steps-item {
    width: 360px;
  }
  .main .workflow__steps-item-logo {
    margin: 0 36px 0 0;
  }
  .main .workflow__steps-item-description {
    width: 274px;
  }
  .main .workflow__steps-divider {
    margin: 16px 0 16px 12px;
  }
  .footer__content {
    width: 362px;
  }
  .footer__description-area {
    width: 360px;
  }
  .footer__description-area-text {
    padding: 14px 0 24px 0;
  }
  .footer__contacts {
    padding-bottom: 42px;
  }
  .footer__menu {
    padding-bottom: 42px;
  }
}

@media screen and (max-width: 380px) {
  .header__navbar {
    width: 264px;
  }
  .header__navbar-logo-img {
    display: none;
  }
  .header__main-content-overlay {
    height: 260px;
    height: 442px;
  }
  .header__main-content-title {
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    width: 334px;
  }
  .header__main-content-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    width: 254px;
  }
  .header__card-item {
    width: 264px;
    height: 196px;
  }
  .header__card-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
  .header__card-icon-img {
    width: 28px;
    height: 28px;
  }
  .header__card-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    width: 224px;
    height: 42px;
    padding: 6px 0px 10px 0px;
  }
  .header__card-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    padding: 0px 0px 20px 0px;
    width: 224px;
  }
  .header__card-list {
    margin-top: -80px;
  }
  .main .container-about {
    margin: 84px auto;
  }
  .main .about__content {
    width: 264px;
  }
  .main .about__info {
    width: 264px;
  }
  .main .about__info-advantages-list {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
  }
  .main .about__info-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    width: 264px;
    height: 110px;
    margin-top: 24px;
    margin-bottom: 20px;
  }
  .main .about__info-advantages-item {
    gap: 8px;
  }
  .main .about__info-advantages-item-img {
    width: 16px;
    height: 16px;
  }
  .main .about__info-advantages-item-description {
    width: 240px;
  }
  .main .about__info-call-us-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
  .main .about__info-call-us-phone {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }
  .main .advantages__content {
    width: 264px;
  }
  .main .advantages__list-item-content {
    width: 178px;
  }
  .main .advantages__list-item-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
  }
  .main .advantages__list-item-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
  .main .advantages__list-item-border {
    margin-right: 22px;
    width: 64px;
    height: 64px;
  }
  .main .advantages__list-item-icon {
    width: 32px;
    height: 32px;
  }
  .main .container-services {
    margin: 84px auto;
  }
  .main .services__content {
    width: 264px;
  }
  .main .services__title-content {
    width: 264px;
  }
  .main .services__list-item {
    width: 264px;
  }
  .main .services__list-item-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    height: 22px;
  }
  .main .services__list-item-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }
  .main .services__list-item-order {
    margin: 0px 28px 24px 28px;
  }
  .main .services__list-item-price {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
  .main .services__list-item-button {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    width: 110px;
    height: 42px;
    padding: 12px 28px;
  }
  .main .equipment__content {
    width: 360px;
  }
  .main .equipment__title-content {
    width: 360px;
  }
  .main .equipment__list {
    margin-bottom: 14px;
  }
  .main .equipment__list-item {
    width: 360px;
    height: 84px;
    padding: 16px 20px 16px 20px;
  }
  .main .equipment__list-item-title {
    margin-bottom: 24px;
  }
  .main .equipment__list-item-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .equipment__list-item-content-img {
    width: 296px;
    height: 210px;
  }
  .main .equipment__list-item-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    width: 296px;
  }
  .main .equipment__list-item-properties {
    width: 292px;
  }
  .main .equipment__list-item-properties-title {
    margin-top: 18px;
  }
  .main .equipment__list-item_open {
    height: 524px;
  }
  .main .workflow__content {
    width: 360px;
  }
  .main .workflow__title-content {
    width: 360px;
  }
  .main .workflow__steps-item {
    width: 360px;
  }
  .main .workflow__steps-item-logo {
    margin: 0 36px 0 0;
  }
  .main .workflow__steps-item-description {
    width: 274px;
  }
  .main .workflow__steps-divider {
    margin: 16px 0 16px 12px;
  }
  .footer__content {
    width: 362px;
  }
  .footer__description-area {
    width: 360px;
  }
  .footer__description-area-text {
    padding: 14px 0 24px 0;
  }
  .footer__contacts {
    padding-bottom: 42px;
  }
  .footer__menu {
    padding-bottom: 42px;
  }
}
/*# sourceMappingURL=style.css.map */