@import "reset", "vars", "global", "mixins";

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');


.header {
    .container-header {
        margin: 0 auto;
    }

    &__top {
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #1C344E;
    }

    &__info {
        @include font(400, 14px, 18px);
        padding: 12px 24px;
        color: #FFF;
        display: flex;
        gap: 16px;
    }

    &__location {
        padding-right: 192px;
    }

    &__location-info {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__phone {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__email {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__schedule {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__content-top {
        height: 97px;
    }

    &__navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 24px;
        padding-bottom: 24px;
    }

    &__navbar-menu {
        padding-left: 128px;
        padding-right: 140px;
    }

    &__navbar-list {
        @include font(400, 16px, 21px);
        display: flex;
        gap: 36px;
    }

    &__navbar-button {
        @include font(500, 16px, 21px);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 130px;
        height: 45px;
        border: 1px solid $accent;
        padding: 12px 18px;
        box-sizing: border-box;
        border-radius: 24px;
        cursor: pointer;
        background-color: transparent;
        color: $accent;

        &:hover {
            transition: all 0.3s ease 0s;
            background-color: $accent;
            color: $white-text;
        }
    }

    &__main-content-bg {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: url(../images/photos/header-bg.jpg);
    }

    &__main-content-overlay {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgba(32, 35, 40, 0.7);
        height: 670px;
    }

    &__main-content-title {
        @include font(700, 56px, 73px);
        color: #FFFFFF;
        padding-top: 64px;
        padding-bottom: 12px;
        width: 867px;
        text-align: center;
    }

    &__main-content-subtitle {
        @include font(400, 20px, 26px);
        color: #FFFFFF;
        padding-top: 12px;
        padding-bottom: 58px;
        width: 363px;
        text-align: center;
    }

    &__main-content-button {
        @include font(500, 18px, 23px);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 196px;
        height: 47px;
        padding: 12px 28px;
        box-sizing: border-box;
        border-radius: 24px;
        cursor: pointer;
        background-color: $second-accent;
        border: 1px solid $second-accent;
        color: #FFFFFF;

        &:hover {
            transition: all 0.3s ease 0s;
            background-color: #FFFFFF;
            border: 1px solid #FFFFFF;
            color: $second-accent;
        }
    }

    &__card-list {
        display: flex;
        margin-top: -160px;
        gap: 24px;
        position: relative;
        justify-content: center;
    }

    &__card-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 360px;
        height: 325px;
        box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.07);
        background-color: #FFFFFF;
        border-radius: 10px;
    }

    &__card-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 26px;
        border-radius: 50%;
        width: 96px;
        height: 96px;
        background: #FFFFFF;
        box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.07);
    }

    &__card-icon-img {
        width: 40px;
        height: 40px;
    }

    &__card-title {
        @include font(500, 24px, 31px);
        color: $text-title;
        padding-bottom: 8px;
    }

    &__card-subtitle {
        @include font(400, 18px, 26px);
        color: $main-text;
        text-align: center;
        padding: 8px 42px 48px;
    }
}

.main {
    .container-about {
        margin: 94px auto;
    }

    .about {
        &__content {
            display: flex;
            justify-content: center;
            width: 1128px;
            margin: 0 auto;
        }

        //TODO: fit the image
        &__photo-img {
            width: 552px;
            height: 568px;
            object-fit: cover;
            border-radius: 10px;
        }

        &__info {
            display: flex;
            flex-direction: column;
            margin-left: 120px;
        }

        &__title-content {
            @include title-block(about)
        }

        &__info-subtitle {
            @include font(400, 18px, 26px);
            color: $main-text;
            align-items: center;
            width: 456px;
            height: 104px;
            margin-top: 36px;
            margin-bottom: 24px;
        }

        &__info-advantages-list {
            @include font(400, 18px, 26px);
            color: $main-text;
            display: flex;
            flex-direction: column;
            gap: 16px;
            margin-bottom: 74px;
        }

        &__info-advantages-item {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        &__info-call-us {
            display: flex;
        }

        &__info-call-us-content {
            margin-left: 24px;
        }

        &__info-call-us-title {
            @include font(500, 18px, 23px);
            color: $text-title;
            margin-bottom: 4px;
        }

        &__info-call-us-phone {
            @include font(600, 24px, 31px);
            color: $accent;
        }
    }

    .container-advantages {
        margin: 94px auto;
        background-color: #F8F9FA;
    }

    .advantages {
        &__content {
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 1128px;
            margin: 0 auto;
        }

        &__title-content {
            @include title-block(advantages);
            padding: 24px 0 36px;
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
        }

        &__list-item {
            display: flex;
            margin-right: 52px;
            margin-bottom: 60px;
        }

        &__list-item-border {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 16px;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background: #FFFFFF;
            box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.07);
        }

        &__list-item-icon {
            width: 42px;
            height: 42px;
        }

        &__list-item-content {
            display: flex;
            flex-direction: column;
            width: 416px;
        }

        &__list-item-title {
            @include font(500, 18px, 23px);
            color: $text-title;
            padding-bottom: 8px;
        }

        &__list-item-description {
            @include font(400, 16px, 26px);
            color: $main-text;
        }
    }

    .container-services {
        margin: 94px 0;
    }

    .services {
        &__content {
            display: flex;
            flex-direction: column;
            width: 1128px;
            margin: 0 auto;
        }

        &__title-content {
            @include title-block(services);
            width: 1128px;
            padding-bottom: 36px;
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            gap: 24px;
        }

        &__list-item {
            display: flex;
            flex-direction: column;
            width: 360px;
            border: 2px solid #F2F2F3;
            border-radius: 12px;
            box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.07);
        }

        &__list-item-img {
            height: 285px;
            border-radius: 12px 12px 0 0;
        }

        //TODO: add auto-padding after item-content (probably using if)
        &__list-item-content {
            display: flex;
            flex-direction: column;
        }

        &__list-item-title {
            @include font(500, 20px, 23px);
            margin: 24px 36px 16px 36px;
            color: $text-title;
            height: 46px;
        }

        &__list-item-subtitle {
            @include font(400, 16px, 18px);
            margin: 0px 36px 20px 36px;
            color: $main-text;
            height: 54px;
        }

        &__list-item-order {
            display: flex;
            align-items: center;
            margin: 0px 36px 32px 36px;
        }

        &__list-item-price {
            @include font(500, 18px, 23px);
            margin-right: auto;
        }

        &__list-item-button {
            @include font(500, 18px, 23px);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 134px;
            height: 47px;
            border: 2px solid $accent;
            padding: 12px 28px;
            box-sizing: border-box;
            border-radius: 24px;
            cursor: pointer;
            background-color: transparent;
            color: $accent;

            &:hover {
                transition: all 0.3s ease 0s;
                background-color: $accent;
                color: $white-text;
            }
        }
    }

    .container-equipment {
        margin: 94px auto;
        background-color: #F8F9FA;
    }

    .equipment {
        &__content {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            width: 1128px;
        }

        &__title-content {
            @include title-block(equipment);
            width: 1128px;
            padding: 24px 0 36px;
        }

        &__list {
            padding-bottom: 8px;
        }

        &__list-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 1128px;
            height: 62px;
            background: #FFFFFF;
            box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.07);
            border-radius: 12px;
            margin-bottom: 16px;
        }

        &__list-item-name {
            @include font(500, 20px, 26px);
            padding-left: 36px;
        }
        
        //TODO: make the entire area clickable
        &__list-item-button {
            box-sizing: border-box;
            border: none;
            cursor: pointer;
            background-color: transparent;
            color: $accent;
            padding-right: 30px;
        }
    }

    .container-workflow {
        margin: 94px auto;
    }

    .workflow {
        &__content {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            width: 1128px;
        }

        &__title-content {
            @include title-block(workflow);
            width: 1128px;
            align-items: center;
            padding-bottom: 36px;
        }

        &__steps-list {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__steps-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 256px;
        }

        &__steps-item-logo {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 60px;
            height: 60px;
            border-radius: 50px;
            border: 2px solid #007BFF;
            box-sizing: border-box;
            margin-bottom: 24px;
        }

        &__steps-item-logo-stage {
            @include font(400, 26px, 34px);
            color: #007BFF;
        }

        &__steps-item-title {
            @include font(500, 20px, 26px);
            color: $text-title;
            margin-bottom: 6px;
            text-align: center;
        }

        &__steps-item-description {
            @include font(400, 16px, 21px);
            color: $main-text;
            text-align: center;
            height: 42px;
        }

        &__steps-divider {
            margin-bottom: 100px;
        }
    }

    .container-order {
        margin: 94px auto 0px auto;
        background-color: #F8F9FA;
    }

    .order {
        &__content {
            margin: 0 auto;
            width: 1128px;
        }

        &__title-content {
            @include title-block(order);
            padding: 24px 0px 36px 0px;
        }

        &__info-list-item {
            display: flex;
            flex-direction: column;
            padding-bottom: 32px;
        }

        &__info-content {
            display: flex;
            gap: 168px;
            padding-bottom: 94px;
        }

        &__info-list-item-title {
            @include font(500, 20px, 23px);
            color: $text-title;
            display: flex;
            align-items: center;
            gap: 10px;
        }

        &__info-list-item-content {
            @include font(400, 18px, 21px);
            color: $text-title;
            padding-top: 10px;
            padding-bottom: 4px;
            width: 384px;
        }

        &__info-list-item-text-map {
            @include font(400, 15px, 18px);
            color: #888692;
            text-decoration-line: underline;
        }

        &__info-list-item-text {
            @include font(400, 15px, 18px);
            color: #888692;
        }      

        &__form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__form-title {
            @include font(600, 28px, 36px);
            color: $text-title;
            padding-top: 42px;
            padding-bottom: 36px;
        }

        &__form-input {
            @include font(400, 16px, 21px);
            margin-bottom: 16px;

            ::placeholder {
                border: 0;           
                padding: 16px;
                color: $gray-text;
            }

            :focus {
                border: 1px solid #262626;
                box-shadow: 0 0 0 1px #262626;
            }
        }

        input {
            width: 432px;
            height: 49px;
            border: 1px solid $gray-text;
            border-radius: 5px;
        }

        textarea {
            width: 432px;
            height: 122px;
            border: 1px solid $gray-text;
            border-radius: 5px;
            resize: none;
        }

        &__form-button {
            @include font(500, 18px, 23px);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 196px;
            height: 52px;
            padding: 12px 24px;
            box-sizing: border-box;
            border-radius: 24px;
            cursor: pointer;
            background-color: $second-accent;
            border: 1px solid $second-accent;
            color: #FFFFFF;
            margin-top: 32px;
    
            &:hover {
                transition: all 0.3s ease 0s;
                background-color: #df7400;
                border: 1px solid #df7400;
                color: $white-text;
            }
        }
    }

    .container-form {
        margin-top: -36px;
        width: 540px;
        height: 505px;  
        background: #FFFFFF;
        box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.07);
        border-radius: 12px;
    }
}

.footer {
    background-color: $footer-bg;

    .container-footer {
        margin: 0px auto;
        width: 1128px;
    }

    &__content {
        display: flex;
        gap: 124px;
    }

    &__description-area {
        display: flex;
        flex-direction: column;
        width: 440px;
    }

    &__description-area-logo {
        padding-top: 56px;
    }
    
    &__description-area-text {
        @include font(400, 16px, 26px);
        color: $gray-text;
        padding: 14px 0px 22px 0px;
    }
    
    &__description-area-address-title {
        @include font(400, 16px, 26px);
        color: $gray-text;
    }

    &__description-area-address-content {
        @include font(500, 18px, 23px);
        color: $white-text;
        padding-bottom: 72px;
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        width: 268px;
    }

    &__contacts-title-item {
        @include font(600, 22px, 29px);
        color: $white-text;
        padding-top: 56px;
    }

    &__contacts-title-line {
        width: 40px;
        height: 2px;
        border-radius: 0px 5px;
        background: $accent;
        margin: 6px 0px 24px 0px;
    }

    &__phone-title {
        @include font(400, 16px, 26px);
        color: $gray-text;
    }

    &__phone-content {
        @include font(500, 18px, 23px);
        display: block;
        color: $white-text;
        padding-bottom: 26px;
    }

    &__email-title {
        @include font(400, 16px, 26px);
        color: $gray-text;
    }

    &__email-content {
        @include font(500, 18px, 23px);
        color: $white-text;
    }

    &__menu {
        display: flex;
        flex-direction: column;
        width: 128px;
    }

    &__menu-title-item {
        @include font(600, 22px, 29px);
        color: $white-text;
        padding-top: 56px;
    }

    &__menu-title-line {
        width: 40px;
        height: 2px;
        border-radius: 0px 5px;
        background: $accent;
        margin: 6px 0px 24px 0px;
    }

    &__menu-item {
        padding-bottom: 20px;
    }

    &__menu-link {
        @include font(400, 16px, 21px);
        color: $gray-text;
    }

    &__copyright-bg {
        margin: 72px auto 0px auto;
    }

    &__copyright {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 0px 16px 0px;
    }

    &__copyright-social {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &__copyright-title {
        @include font(300, 14px, 18px);
        color: $white-text;
    }

    &__copyright-social-title {
        @include font(300, 14px, 18px);
        color: $white-text;
    }
}